name: Pull Request

on:
  pull_request:
    branches: [preprod]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-node@main
        with:
          node-version: 22
      - name: 'Install packages'
        run: pnpm install --frozen-lockfile

      - name: 'Lint'
        run: pnpm lint

      - name: 'Test'
        run: pnpm test:coverage

      - name: 'Build'
        run: pnpm build
