name: Pull Request

on:
  pull_request:
    branches: [preprod]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version-file: './package.json'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      - name: Generate Prisma client
        run: pnpm prisma generate

      - name: 'Lint'
        run: pnpm lint

      - name: 'Test'
        run: pnpm test:coverage

      - name: 'Build'
        run: pnpm build
