name: Pull Request

on:
  pull_request:
    branches: [preprod]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: './.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      - name: Generate Prisma client
        run: pnpm prisma generate

      - name: 'Lint'
        run: pnpm lint

      - name: 'Test'
        run: pnpm test:coverage

      - name: 'Build'
        run: pnpm build
